# GitHub OAuth App Credentials
# Create an OAuth Application in your GitHub settings (Settings -> Developer Settings -> OAuth Apps)
# Homepage URL: https://muninn.freundcloud.com
# Authorization Callback URL: https://muninn.freundcloud.com (or http://localhost:4000/ during local testing)

GITHUB_CLIENT_ID=your_client_id_here
GITHUB_CLIENT_SECRET=your_client_secret_here
